apiVersion: radix.equinor.com/v1
kind: RadixApplication
metadata:
  name: radix-cost-allocation-api
spec:
  environments:
    - name: prod
      build:
        from: release
    - name: qa
      build:
        from: master
    - name: dev
  components:
    - name: "server"
      src: "."
      dockerfileName: "Dockerfile"
      ports:
        - name: http
          port: 3003
      resources:
        requests:
          memory: "1000Mi"
          cpu: "20m"
        limits:
          memory: "1000Mi"
          cpu: "1000m"
      public: true
      secrets:
        - SQL_SERVER
        - SQL_DATABASE
        - SQL_USER
        - SQL_PASSWORD
        - SUBSCRIPTION_COST_VALUE
        - SUBSCRIPTION_COST_CURRENCY
        - WHITELIST
        - AD_REPORT_READERS
        - TOKEN_ISSUER
      environmentConfig:
        - environment: qa
          runAsNonRoot: true
          replicas: 1
          horizontalScaling:
            minReplicas: 1
            maxReplicas: 1
          monitoring: true
          variables:
            PIPELINE_IMG_TAG: "master-latest"
            LOG_LEVEL: INFO
        - environment: prod
          runAsNonRoot: true
          replicas: 1
          monitoring: true
          variables:
            PIPELINE_IMG_TAG: "release-latest"
            LOG_LEVEL: INFO
