apiVersion: radix.equinor.com/v1
kind: RadixApplication
metadata:
  name: radix-cost-allocation-api
spec:
  build:
    useBuildKit: true
  environments:
    - name: prod
      build:
        from: release
    - name: qa
      build:
        from: master
  components:
    - name: "server"
      src: "."
      dockerfileName: "Dockerfile"
      ports:
        - name: http
          port: 3003
      resources:
        requests:
          memory: "1500Mi"
          cpu: "20m"
        limits:
          memory: "2000Mi"
          cpu: "1000m"
      public: true
      monitoring: true
      runAsNonRoot: true
      variables:
        LOG_LEVEL: INFO
        SQL_SERVER: "sql-radix-cost-allocation-c2-prod.database.windows.net"
        SQL_DATABASE: "sqldb-radix-cost-allocation"
        WHITELIST: '{"whiteList":["canarycicd-test","canarycicd-test1","canarycicd-test2","canarycicd-test3","canarycicd-test4","radix-api","radix-canary-golang","radix-cost-allocation-api","radix-github-webhook","radix-public-site","radix-platform","radix-web-console","radix-vulnerability-scanner-api","radix-networkpolicy-canary","radix-servicenow-proxy"[]}'
        AD_REPORT_READERS: '{"groups":["ad4f6a93-79fb-4a6e-9861-e280bf6cb4e6"]}'
        TOKEN_AUDIENCE: "6dae42f8-4368-4678-94ff-3960e28e3630"
        TOKEN_ISSUER: "https://sts.windows.net/3aa4a235-b6e2-48d5-9195-7fcf05b459b0/"
      identity:
        azure:
          clientId: "bb6d92a0-2f6d-421e-80e6-1b2174953d21"
      environmentConfig:
        - environment: qa
          replicas: 1
          variables:
            PIPELINE_IMG_TAG: "master-latest"
        - environment: prod
          replicas: 2
          variables:
            PIPELINE_IMG_TAG: "release-latest"
