# yaml-language-server: $schema=https://raw.githubusercontent.com/equinor/radix-operator/release/json-schema/radixapplication.json

apiVersion: radix.equinor.com/v1
kind: RadixApplication
metadata:
  name: radix-cost-allocation-api
spec:
  build:
    useBuildKit: true
  environments:
    - name: prod
      build:
        from: release
    - name: qa
      build:
        from: master
  components:
    - name: "server"
      src: "."
      dockerfileName: "Dockerfile"
      ports:
        - name: http
          port: 3003
        - name: metrics
          port: 9090
      resources:
        requests:
          memory: "1500Mi"
          cpu: "20m"
        limits:
          cpu: "1000m"
      publicPort: http
      monitoring: true
      monitoringConfig:
        portName: metrics
      readOnlyFileSystem: true
      variables:
        LOG_LEVEL: INFO
        SQL_SERVER: "${SQL_SERVER}"
        SQL_DATABASE: "sqldb-radix-cost-allocation"
        WHITELIST: '{"whiteList":["canarycicd-test","canarycicd-test1","canarycicd-test2","canarycicd-test3","canarycicd-test4","radix-api","radix-canary-golang","radix-cost-allocation-api","radix-github-webhook","radix-public-site","radix-platform","radix-web-console","radix-vulnerability-scanner-api","radix-networkpolicy-canary","radix-servicenow-proxy"]}'
        AD_REPORT_READERS: '{"groups":["ad4f6a93-79fb-4a6e-9861-e280bf6cb4e6"]}'
        TOKEN_AUDIENCE: "6dae42f8-4368-4678-94ff-3960e28e3630"
        TOKEN_ISSUER: "https://sts.windows.net/3aa4a235-b6e2-48d5-9195-7fcf05b459b0/"
      identity:
        azure:
          clientId: "${AZURE_CLIENT_ID}"
      environmentConfig:
        - environment: qa
          replicas: 1
        - environment: prod
          replicas: 2
